/* text.scss */
#text-container {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5em;
}

#message {
  white-space: nowrap;
  overflow: hidden;
}

#cursor {
  display: inline-block;
  width: 0.3em;
  height: 0.8em;
  background-color: var(--primary-color);
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
