/* base.scss */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: var(--font-size);
}

#matrixCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
